/* ===============================================================
	
							Club Mini Site			
	
=============================================================== */

.join,
.products {
	
	h3 {
		
		border-bottom: 1px solid #ccc;
		
	}
	
	.join_list {
		
		margin: 0;
		padding: 0;
		
		.product-price {
			
			display: block;
			margin: 10px 0;
			
		}
		
	}
	
}

.side_nav {
	
	border-right: 1px solid #ddd;
	// Club List Page
}

a.org_link {
	
	background: blue;
	
}

/* ===============================================================
	
							Club List			
	
=============================================================== */

li a.current {
	
	background: blue;
	
}

.club_list {
	
	.msl-listing-logo img {
		
		height: 100px;
		background: #ccc;
		
	}
	
	ul.msl_organisation_list li {
		
		margin: auto !important;
		padding: inherit !important;
		
		
	}
	
	ul.msl_organisation_list {
		
		border-radius: 3px;
		background: white;
		
	}
	
	ul.msl_organisation_list:after {
		
		content: "";
		display: block;
		clear: both;
		
	}
	
	.club_listing {
		
		min-height: 300px;
		
		.msl-listingitem-link { text-align: center; }
		
		img {
			
			width: 80%;
			margin: 0 10%;
			
		}
		
	}
	
}