.page_societies {
	
	.join_list {
		
		margin: 0;
		padding: 0;
		
	}
	
	.product-name {
		
		display: block;
		margin-bottom: 10px;
		text-transform: capitalize;
		
		color: #444;
		
		.product-price {
			
			font-weight: bold;
			
		}
		
	}
	
	
	
}