#reviewbasket {
	
	// padding: 0 !important;
	
}

.checkoutpage {
	
	padding: 0;
	
	h2,
	h3 {
		
		margin: inherit;
		
	}
	
	table.msl_table {
		
		border: 0 !important;
		background: none;
		
	}
	
	table.msl_table th {
		
		background: none;
		border: 0;
		color: $colour_primary;
		width: 100% !important;	
	}
	
	table.msl_table td {
		
		border: 0;
		
	}
	
	/* Hide The Row Total */
	
	table.msl_table th:nth-child(3),
	table.msl_table td:nth-child(3),
	table.msl_table th:nth-child(5),
	table.msl_table td:nth-child(5) {
		
		display: none;
		
	}
	
}

.checkoutpage .msl_table tr.footer td.total {
	
	border-bottom: 0 !important;
	border-top: 0 !important;
	
}

.total {
	
	border-top: 0;
	border-bottom: 0;
	
	font-weight: bold;
	
}

.total:before {
	
	position: absolute;
    content: "Sub-total: ";
    display: block;
    right: 110px;
    height: 10px;
	
}

#ctl00_Main_btnPay {
	
	@extend .blue-button;
	
}

/* Collections Page */

.page_fulfilment {
	
	.vpFormSubmit {
		
		margin: 0;
		
		#ctl00_Main_btnSelectCollection { @extend .green-button; }
		
	}
	
	
	
}

.saved-card-details label {
	
	width: auto;
	display: inherit;
	
}

#pay .button {
	
	// Values from Foundation Buttons
	padding: 1rem 2rem 1.0625rem 2rem !important;
	font-size: 1rem !important;
	
}