footer {
	
	margin-top: 30px;
	padding-top: 30px;
	font-size: 12px !important;
	
	background: #222222;
	
	border-bottom: 7px solid #003665;
	
	* { color: white; }
	
	p { font-size: 12px; font-weight: bold;}
	
	
}