/* ====================================================
	
				Side Page Navigation
	
==================================================== */

.side_nav {
	
	// Top Level Navigation List In Sidebar
	
	ul.level_1 {
		
		list-style: none;
		margin: 0;
		
		a.current:hover { color: white;	}
		
		li {
			
			a {
			
				display: block;
				padding: 5px;
				font-weight: bold;
			
			}
			
		}
		
		li:not(:last-child){
			
			border-bottom: 1px solid #ccc;
			
		}
		
	}
	
	ul.level_2 {
		
		background: white;
		margin: 0;
		border: 1px solid rgba(0,0,0,0.1);
		border-bottom: none;
		list-style: none;
		
		a.current:hover { color: #444;	}
		
		li {
			
			a {
				
				padding: 5px;
				font-size: 90%;
				color: #444;
				display:block;
				font-weight: bold;
		
			}
			
			.current {
				
				background: rgba(23, 66, 131, 0.1);
				
			}
		
		}
		
	}
	
	ul.level_3 {
		
		border-top: 1px solid rgba(0,0,0,0.1);
		margin: 0;
		padding: 0;
		font-size: 90%;
		list-style: circle;
		list-style-position: inside;
		
	}
	
}

// Highlight the Current Page Link

.msl-itemhassubnav,
.current {
			
	display: block;
	padding: 5px;
	background: $colour_primary;
	color: white;
			
}

.current:hover {
	
	color: black;
	
}

/* ===============================================================
	
	Split Nav					
	
=============================================================== */

.sticky {
	
	padding: 0;
	
}

/* ===============================================================
	
						
	
=============================================================== */


.toolbar {
	
	background: #002c56;
	border-top: 1px solid black;
	color: white !important;
	
}

#logo_nav {
	
	height: 50px;
	width: auto;
	padding: 5px 10px 10px 10px;
	
}

.contain-to-grid,
.top-bar {
	
	background: $colour_primary_dark;
	
	.top-bar-section {
		
		ul li {
			
			background: none;
			
		}
		
		li a {font-weight: bold;}
		
		.left {
			
			
			
			li:nth-child(1) a {
				
				// background: #F39; // Elections Pink
				
			}
			
		}
		
	}
	
}

.back {
	
	padding: 0;
	background: rgba(0,0,0,0.3);
	
}

.center-img {
	
	background: url("/assets/site_resources/circle.svg") #f2f2f2 no-repeat center center;
	min-height: 250px;
	min-width: 250px;
	
	img {
		
		width: 100%;
		
	}
	
}

#msl_admin {
	
	ul {
		
		/* Adverts Admin */ 	li:nth-child(1){ display: block; }
		/* Blog Admin */ 		li:nth-child(2){ display: block; }
		/* Directory Admin */ 	li:nth-child(3){ display: block; }
		/* Elections Admin */ 	li:nth-child(4){ display: block; }
		/* Events Admin */ 		li:nth-child(5){ display: block; }
		/* Adverts Admin */ 	li:nth-child(6){ display: block; }
		/* Adverts Admin */ 	li:nth-child(7){ display: block; }
		/* Adverts Admin */ 	li:nth-child(8){ display: block; }
	
	}
	
}

nav.master {
	
	background: #004990;
	background: url(http://www.yourstudentsunion.com/stylesheet/Saphire/background.jpg) repeat-x center top;
	background: -moz-linear-gradient(top,  #004990 1%, #00bde5 53%, #f7f7f7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#004990), color-stop(53%,#00bde5), color-stop(100%,#f7f7f7));
	background: -webkit-linear-gradient(top,  #004990 1%,#00bde5 53%,#f7f7f7 100%);
	background: -o-linear-gradient(top,  #004990 1%,#00bde5 53%,#f7f7f7 100%);
	background: -ms-linear-gradient(top,  #004990 1%,#00bde5 53%,#f7f7f7 100%);
	background: linear-gradient(to bottom,  #004990 1%,#00bde5 53%,#f7f7f7 100%);
	
    padding-top: 15px;
	
	#core {
		
		background: $colour_primary;
		
		ul.msl_navbar {
		
			list-style: none;
			margin: 0;
			padding: 0;
		
			li {
				
				float: left;
				margin-right: 5px;
				
				a {
					
					background: $colour_primary;
					
					color: white;
					font-weight: 600;
					display: block;
					font-size: 0.8em;
					text-transform: uppercase;
					padding:5px 12px;
					
				}
			}
			
		}
	
	}
	
}

#hero_logo {
	
	margin: 50px 0;
	width: 500px;
	margin: 0 auto;
	display: block;
	
}