// Container for the Navigation Buttons within a Survey
.form_controls {
	
	margin-top: 20px;
	
}

/* ===============================================================
	
	Survey Button Styles	
	
=============================================================== */

// Cancel Button
#ctl00_survey_btnCancel {
	
	@extend .gray-button;
	
}

// Next Button
#ctl00_survey_btnNext {
	
	@extend .blue-button;
	
}

// Back Button
#ctl00_survey_btnBack {
	
	@extend .blue-button;
	
}

// Finish Button
#ctl00_survey_btnSubmit {
	
	@extend .green-button;
	
}

// ReSubmit Button
#ctl00_survey_btnResubmit {
	
	@extend .blue-button;
	
}

/* ===============================================================
	
	Misc. Survey Elements					
	
=============================================================== */

.form_error {
	
	@extend .error;
	
}

.validationwrapper {
	
	margin: 20px 0;
	
}

/* ===============================================================
	
	Hints and Errors			
	
=============================================================== */

.hint-text {
	
	// font-size: 60%;
    color: #6f6f6f;
    line-height: 0;
	
}

.error {
	
	display: block;
    font-size: 0.66667rem;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.88889rem;
    margin-top: -1px;
    padding: 0.33333rem 0.5rem 0.5rem;
    background: #f04124;
    color: #FFFFFF;
	
}