/* Sapphire because its blue and shiny */

@import "settings/colour";
@import "settings/functions";
@import "settings/type";
@import "settings/reset";

@import "layout/admin";
@import "layout/navigation";
@import "layout/footer";

@import "components/adverts";
@import "components/calender";
@import "components/comments";
@import "components/news";
@import "components/fourms";
@import "components/notifications";
@import "components/orbitslider"; // This needs renaming as it isn't technically a foundaiton Orbit Slider!
@import "components/shop";
@import "components/surveys";
@import "components/polls";

@import "pages/login";
@import "pages/homepage";
@import "pages/eventcalendar";
@import "pages/student-groups";
@import "pages/news";

.vp_hint { display: block; } // Whats this? 

/* TEMP FOR TESTING */

#aspnetForm {
	
	height: 100%;
	position: relative;
	
}

#ctl00_Main_ProductCtl1_lblOptionNote { // Random Yellow Box on Product Page
	
	display: none;
	
}

.advert {
	
	margin: 10px 0;
	
	a {
		
		display: block;
		
		img {
		
			width: 100%;
			height: auto;
		
		}
		
	}
	
	a:before {
		
		content: "Advertisment";
		display: block;
		font-weight: bold;
		color: black;
		font-size: 0.8rem;
		
	}
	
}

/* SHAME LAZY SCSS */

#skin_Sapphire.page_elections {
	
	nav.master {
		
		background: #FF3399;
		
	}
	
	.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] {
		
		border-right: solid 1px rgba(0,0,0,0.3);
		
	}
	
	.contain-to-grid, .top-bar,
	.top-bar-section li:not(.has-form) a:not(.button) {
		
		background: #801a4d;
		
	}
	
}