/* Sapphire because its blue and shiny */

@import "settings/colour";
@import "settings/functions";
@import "settings/type";
@import "settings/reset";

@import "layout/admin";
@import "layout/navigation";
@import "layout/footer";

@import "modules/data-tables";

@import "components/adverts";
@import "components/calender";
@import "components/comments";
@import "components/news";
@import "components/fourms";
@import "components/notifications";
@import "components/orbitslider";
@import "components/shop";
@import "components/surveys";
@import "components/polls";
@import "components/jobs";
@import "components/feedback";

@import "pages/login";
@import "pages/homepage";
@import "pages/eventcalendar";
@import "pages/student-groups";
@import "pages/news";
@import "pages/officers";

/* START OF WORKING AREA */

.mobile-only-basket-ui > a {
		
	padding-left: 0.9375rem;
	display: block;
	font-weight: bold;
	color: white;
	height: 2.8125rem;
	font-size: 0.8125rem;
	line-height: 2.8125rem;
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	height: 2.8125rem;
		
}
#drop2.f-dropdown.content {

	background: none;
	padding: 0;
	
	border: none;
	
	left: 0 !important;
	width: 100% !important;
}

/* END OF WORKING AREA */

/* DEBUG - It's a mystery */

.vp_hint { display: block; } // Form Hints?

/* DEBUG - 100% Height for Login Page */

#aspnetForm { height: 100%;	position: relative; }

/* DEBUG - Random Yellow Box on Product Pages */

#ctl00_Main_ProductCtl1_lblOptionNote { display: none; }

/* DEBUG - Testing Conditional Styling for the elections pages */

#skin_Sapphire.page_elections {
	
	nav.master { 
		
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3399+50,f6f6f6+100 */
		background: #ff3399; /* Old browsers */
		background: -moz-linear-gradient(top,  #ff3399 50%, #f6f6f6 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #ff3399 50%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #ff3399 50%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3399', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

	}
	
	.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] { border-right: solid 1px rgba(0,0,0,0.3);	}
	
	.contain-to-grid, .top-bar, .top-bar-section li:not(.has-form) a:not(.button) {	background: #801a4d; }
	
}

/* DEBUG - Feature: Offsite Link Icons */

a[href*="//"]:not([href*="yourstudentsunion.com"]) {}